#assgn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

#assgn:hover .inv {
  opacity: 100%;
}

#assgn:hover .inv.left {
  transform: translate(calc(-40%), -50%);
}

#assgn:hover .inv.right {
  transform: translate(calc(40%), -50%);
}

.mom-inv {
  position: relative;
}

.inv {
  position: absolute;
  top: 50%;
  width: 16rem;
  opacity: 0%;
  transform: translate(0%, -50%);
  transition: ease-in-out 0.4s;
}

.inv.right {
  left: 0;
  text-align: right;
}

.inv.left {
  right: 0;
  text-align: left;
}